{{ '' // TODO: fix appPokemonData check. Need a way for the loaded value to change once all the http calls are fulfilled }}

<table *ngIf="appPokemonData.length == 20" mat-table [dataSource]="appPokemonData"> 
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let pokemon"> {{pokemon.name}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

