{{ '' // TODO: fix appPokemonData check. Need a way for the loaded value to change once all the http calls are fulfilled }}

<mat-form-field appearance="fill">
    <mat-label>Types</mat-label>
    <mat-select [formControl]="types" [(ngModel)]="userSelections" multiple>
      <mat-option *ngFor="let type of typesList" [value]="type" (click)="filterResults()">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <p>You selected: {{userSelections}}</p>

<table *ngIf="appPokemonData && appPokemonData.length === 20" mat-table [dataSource]="filteredResults || appPokemonData"> 
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let pokemon"> {{pokemon.name}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

